
* {
  background: #1e1e1e;
  padding: 0;
  margin: 0;
  .navbar {
    .container-fluid {
      padding: 17px 100px;
      display: flex;
      justify-content: space-between;
      .btn {
        display: flex;
        align-items: center;
        text-align: center;
        button {
          color: #fff;
          width: 175px;
          height: 42px;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          border: 1px solid #8276ff;
          border-radius: 131px;
        }
      }
    }
  }
  main {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .text_box {
      font-family: "Design";
      font-style: normal;
      font-weight: 400;
      font-size: 49px;
      line-height: 69px;
      display: flex;
      align-items: center;
      letter-spacing: 0.007em;
      color: #fff;
      span {
        font-family: "Source Sans Pro";
        font-style: italic;
        color: #ffc759;
        text-transform: uppercase;
      }
      .secondaryText {
        font-size: 16px;
        letter-spacing: 0.007em;
        line-height: 24px;
      }
      button {
        background: #8276ff;
        border: none;
        border-radius: 31.0938px;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: #ffffff;
        padding: 15px 40px;
      }
      .check {
        display: flex;
        align-items: center;
        img {
          width: 40px;
        }
        padding-top: 20px;
        font-family: "Source Sans Pro";
        line-height: 19px;
        letter-spacing: 0.005em;
        font-size: 15px;
        color: #ffffff;
      }
      .stars {
        padding-top: 64px;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: #ffffff;
        img {
          width: 80px;
        }
      }
      .brands {
        display: flex;
        justify-content: space-between;
        img {
          width: 120px;
        }
      }
    }
  }
  .cards_section {
    padding-top: 200px;
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 39px;
      line-height: 52px;
      color: #fff;
    }
    .card {
      background: #1e1e1e;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 100px 300px;
      grid-gap: 200px;
      border: none;
      .main_card {
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(141, 159, 244, 0.3);
        backdrop-filter: blur(5.5px);
        border-radius: 10px;
        padding: auto;
        position: relative;
        .card_discount {
          position: absolute;
          top: -10%;
          right: -7%;
          border: 2px solid #fff;
          border-radius: 50%;
          padding: 30px;
          box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #bc13fe,
            0 0 0.4rem #bc13fe, 0 0 2.4rem #bc13fe, inset 0 0 1.3rem #bc13fe;
          color: #fff;
          background: none;
          font-size: 30px;
          font-weight: bold;
          font-style: italic;
        }
        .card_title {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 39px;
          line-height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.007em;
          background: none;
          color: rgba(255, 255, 255, 0.86);
          padding-top: 60px;
          padding-left: 120px;
          padding-right: 120px;
        }
        .card_price {
          background: none;
          color: #fff;
          display: grid;
          grid-template-columns: 1fr 4fr;
          padding: 20px;
          .old_price {
            background: none;
            p {
              background: none;
              font-size: 31px;
              position: relative;
              &::after {
                content: "";
                width: 100px;
                height: 3px;
                background: #bc13fe;
                position: absolute;
                top: 46%;
                left: -9%;
                transform: rotate(-18deg);
              }
            }
          }
          .prices {
            background: none;
            display: flex;
            justify-content: center;

            .new_price {
              background: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              ins,
              p {
                background: none;
              }
              ins {
                font-size: 80px;
                text-decoration: none;
              }
              p {
                font-size: 26px;
                color: rgba(255, 255, 255, 0.75);
              }
            }
          }
        }
        .card_desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: none;
          ul {
            background: none;
            list-style: url("../images/list_style.png");
            font-size: 20px;
            color: #fff;
            li {
              background: none;
            }
          }
        }
        .card_footer {
          background: none;
          button {
            background: #8276ff;
            border-radius: 31.0938px;
            margin-top: 64px;
            padding: 15px 40px;
            border: none;
            font-size: 20px;
            color: #fff;
          }
          span {
            background: none;
            font-size: 14px;
            float: right;
            color: #fff;
            padding: 10px 30px;
          }
        }
        .blur {
          position: absolute;
          width: 480px;
          height: 480px;
          top: 50%;
          left: -50%;
          background: rgba(99, 133, 253, 0.1);
          filter: blur(115px);
        }
      }
    }
  }
  .support_section {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    img {
      width: 80vw;
    }
  }
  .features_section {
    padding-top: 180px;
    .features_title {
      color: #fff;
      font-size: 39px;
      text-align: center;
      span {
        font-style: italic;
        color: #ffc759;
      }
    }
    .features_card {
      margin: 80px 150px;
      background: linear-gradient(
        147.19deg,
        #362a87 -2.99%,
        #2c2747 82.25%,
        #4323f1 157.46%
      );
      border-radius: 26px;
      .features_card--nav {
        padding-top: 80px;
        background: none;
        ul {
          background: none;
          list-style: none;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          align-items: baseline;
          li {
            background: none;
            justify-content: space-evenly;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            border-bottom: 3px solid #fff;
            /* &::after{
              content: '';
              position: absolute;
              width:  90%;
              height: 3px;
              background: #fff;
            }*/
            &.active {
              border-bottom: 6px solid #fff;
              border-radius: 6px;
            }

            img {
              width: 60px;
              background: none;
            }
            div {
              background: none;
              color: #fff;
              font-weight: 700;
              font-size: 18px;
              text-align: center;
            }
          }
        }
      }
    }
    .features_card--content {
      background: none;
      display: grid;
      grid-template-columns: 2fr 1fr;
      .content__text {
        background: none;
        padding-left: 40px;
        .features_content--title {
          background: none;
          color: #fff;
          font-size: 39px;
        }
        .features_content--body {
          background: none;
          ul {
            background: none;
            list-style: url("../images/list_style.png");
            li {
              background: none;
              color: #fff;
              margin: 15px auto;
              font-size: 20px;
            }
          }
        }
        .features_content--footer {
          background: none;
          button {
            margin: 41px auto;
            background: #8276ff;
            border-radius: 31.0938px;
            color: #fff;
            border: none;
            padding: 15px 40px;
            font-weight: bold;
          }
        }
      }
      .content__image {
        background: none;
        img {
          background: none;
          width: 450px;
          margin-right: 20px;
          margin-top: 46px;
        }
      }
    }
  }
  .companies {
    .companies_title {
      color: #fff;
      text-align: center;
      font-size: 31px;
      margin-top: 180px;
    }
    .companies_logo {
      margin: 50px 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        margin: 21px;
      }
    }
  }
  footer {
    margin-top: 184px;
    background: linear-gradient(
      147.19deg,
      #362a87 -2.99%,
      #2c2747 82.25%,
      #4323f1 157.46%
    );
    display: flex;
    justify-content: space-evenly;
    .text_block {
      background: none;
      .text {
        background: none;
        font-size: 49px;
        color: #fff;
        margin-top: 120px;
      }
      .btn {
        margin-top: 30px;
        button {
          padding: 15px 40px;
          color: #fff;
          background: #8276ff;
          border-radius: 31.0938px;
          border: none;
        }
      }
    }
    .img {
      background: none;
      img {
        background: none;
      }
    }
  }
}
